.video-js .vjs-control-bar {
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color to white */
 /* Set the color for the text and icons to black or any color that contrasts well with white */
    justify-content: center;
}

/* You might also want to change the color of the buttons and other elements within the control bar for better visibility */
.vjs-control-bar .vjs-button > .vjs-icon-placeholder:before,
.vjs-control-bar .vjs-time-control {
    color: rgba(0, 0, 0, 0.5); /* Change the color to black or any other suitable color */
}